.dataTable {
    width: 100%;
    margin: 20px auto;
  }
  
  .dataTable table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .dataTable table th,
  .dataTable table td {
    padding: 8px;
    text-align: left;
  }
  
  .dataTable table th {
    background-color: #f4f4f4;
  }
  
  .dataTable .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .search{
    margin-Bottom: '20px';
     padding: '10px';
      width: '300px';
  }
  